html{scroll-behavior: smooth;}










body {background-color: #131212;
margin: 0px;
font-family:'Courier New', monospace;
}


p {color: white;}
h2 {color: white;}
li {color: white;}

.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.homebutton {
    background-color: #333;
    margin: auto;
    padding: 2px 2px 2px 2px;
    height: 30px;
    width: 50px;
    border-radius: 25%;
  width:fit-content;
  block-size: fit-content;

}

.topbar {
    background-color: black;
    margin: 10px 10px 10px 10px;
    padding: 8px 8px 8px 8px;
    width: 100%;
    height: 85px;
}

.maincontainer {
  min-width: 400px;
  max-width: 1920px;

margin: 0px 0px;




  height: 2000px;
  border-style: solid;
  border-color: #333;
  border-width: 3px;
  position: relative;


}


.smallercontainer {
  height: 1000px;
}
/* 
.maincontainerlarge {
  height: 3000px;
} */











/* Navbar */



.navbar {
    background-color: #333;
    margin: 0px;
    padding: 0px;
    height: 70px;

    border-color: #333;
    border-style: solid;
    border-width: 3px;

  }
  
  .navbar a {
    float: left;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 2px;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 18px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 2px;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ed1d46;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: #ed1d46;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    height: 100%;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .navbuttons{
    height: 100%;
    margin: auto;
    border-radius: 10px 10px 0 0;  }

.logohome {
    max-width: 75px;
    height: 28px;

}
.linkedin {
  max-width: 75px;
  height: 20px;

}


  
  /* Navbar end */






  /* Main  Website Elements */
/* 

 */

/* Banner Image */

.bannerdiv {
  height: 150px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bannerimg {
min-width: 100%;
min-height: 100%;
  
}


/* Content div */



.contentmain {
  width: 70%;
  height: 80%;
  margin: 0px auto;
position: relative;
background-color: #333;
}

.contentsmall {
  height: 500px;
}


h1 {
  font-size: 30px;
  color: white;
  text-align: center;
  font-family:'Courier New', monospace;
}

.impactone {
height: 90%;
  padding: 3px;
  margin-left: 13%;
}




.sectiondiv {
  height: 10%;
  position: relative;

}


/* main image section */

.mainimagesec {
  height: 20%;
  position: relative;
  border-width: 3px;
}


.smallsec {
  width: 60%;
  margin: auto;
  height: 15%;
}














.sectiontext {
  width: 50%;
margin-left: 40%;
position: absolute;
z-index: 5;
top: 15%;
}

.centertext {
  text-align: center;
}

.second{
  top: 50%;
}

.button {
  background-color: #ed1d46;
  border-radius: 25%;
  color: white;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width:fit-content;
  font-family: 'Courier New', Courier, monospace;
}


/* -- */


/* General Tools */

.smallspacer {
  width: 100%;
  height: 3%;
}

.mediumspacer {
  width: 100%;
  height: 7%;
  text-align: center;
}

.boldl {
  font-weight: bold;
}

/* homepage main section */

.mage1 {
height: 100%;
margin: 0 auto;
}

.magecenterbox {
  margin: 0 auto;
  height: 100%;
  width: fit-content;
}






/* (A) FIXED WRAPPER */
.hwrap {
  overflow: hidden; /* HIDE SCROLL BAR */
  background: #eee;
}
 
/* (B) MOVING TICKER WRAPPER */
.hmove { display: flex; }

/* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
.hitem {
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  color: #131212;
  font-family: 'Courier New', Courier, monospace;
}
 
/* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
/* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
@keyframes tickerh {
  0% { transform: translate3d(100%, 0, 0); }
  100% { transform: translate3d(-400%, 0, 0); }
}
.hmove { animation: tickerh linear 30s infinite; }
.hmove:hover { animation-play-state: paused; }




/* Testing Styles */


.border{
  border-style: solid;
  border-width: 3px;
}

.greenb {
  border-color: green;
}

.redb {
  border-color: red;
}

.blueb {
  border-color: blue;
}

.whiteb {
  border-color: white;
}





.redfborder {
  border-style: solid;
  border-width: .5px;
border-color: lightskyblue;
}
/* Side Scrollr */



.sidescroller1 {

  height: 120px;
  width: 50px;
  position: sticky;
top: 45%;
background-color: rgb(55, 54, 54);
border-radius: 40px;
}

.sidebub {

  width: 60%;
  position: relative;
  top: 25px;
  left: 20%;

}

.bottombub {
 top: 30px;

}















/* Contact Page Styles */


.formbox {

  width: 40%;
  min-width: 270px;
  margin: auto;
  height: 35%;
  background-color: lightgrey;

}

.formbox2 {
  width: 60%;
  height: 100%;
  margin: auto;
}

form {margin: auto;
}

.elementcenter {
  margin: auto;
  position: relative;
}


.header1 {
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.formbutton2 {
padding: 5px;
width: 70px;
height: 70px;

}



.commentboxw {
  max-width: 100%;
  max-height: 120px;
}


/* Impact Page Styling */



.impactvideo {


  width: 420px;
  height: 315px;
  margin-left: 10%;
}


.rightsidecontent {

width: 40%;
height: 17%;
left: 56%;
top: -19%;
color: yellow;
position: inherit;
display: block;
}

.impactbh2 {

  top: -10%;

  position: inherit;
}


/* Impact Table Elements */
.impact-table {

  position: inherit;
  width: 70%;
  height: 25%;
  margin: auto;
  top: -6%;
 overflow: hidden;
  
  }

  .impact-table-table {
    width: 80%;
    position: relative;
    margin: auto;
  }

.impactcellsize {
  width: 170px;
  height: 170px;
  padding: 20px;
}


/* Footer Styling */





.footermainbox{

  width: 100%;
  height: 45px;
  position: relative;
  bottom: 0;
  background-color: #333;
  border-top: lightblue;
  border-top-style: solid;
  border-radius: .5px;

  display: block;
  overflow: hidden;
}



.indexfooter {
  bottom: -180px;
}
.contactfooter {
  bottom: -40px;
}


.footlinkbox {
  width: 52%;
  min-width: 600px;

  height: 100%;
  margin: auto;
  position: relative;
top: -99%;
  
}

.footertext {
  color: white;
  text-decoration: none;
padding: 50px;
top: -45%;
  position: relative;
}



.footerlogo {

  height: 100%;
  width: auto;
  padding-right: 50px;

}

.copyrightbox {

width: 280px;
height: 100%;
position: relative;
min-width: 200px;

right: 0;




}

.copyright-text {
  text-align: center;

  position: relative;
  top: 25%;
}






/* Record Page Styling */



.recordmiddlebox {
position: relative;
height: 60%;
width: 80%;
margin: auto;
}



.recordfoot {
  position: absolute;
bottom: 0px;
}

.recordsectionbox {

  width: 90%;
  height: 20%;
  margin: auto;

}

.bignumbox {
  height: 100%;
 width: fit-content;
 overflow: hidden;

 display: flex;
  justify-content: center;
  align-items: center;

}
.smallcentlet {
  text-align: center;
  font-size: 20pt;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

.milliontext {
  height: 5%;
  width: auto;
  position: absolute;

color: #ed1d46;
}



.recordtextboxright {
  width: 50%;
  position: relative;
margin: auto;
bottom: 60%;

}


.recordnumbertext {
  font-size: 60px;
  text-align: center;

  padding: 50% 0;
  position: relative;
}

.tallcityimage {
  height: 95%;
  padding: 2.5%;
width: auto;
position: absolute;
right: 0;
}







.height80 {
  height: 80%;
  width: 82%;
}

.invcellsize {
  width: 100%;
  height: auto;
  padding: 10%;
}

.logotable {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: auto;
  position: relative;
  object-fit: cover;
  padding: 5%;

}

  .backgroundgrey {
background-color: darkgrey;

  }



  /* Sitemap Styling */


  .whitetext {
    color: white;
  }

  .sitemapbox {
    width: 50%;
    margin: auto;
  }

  .sitemaplinks{
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;

  }